<div class="content-wrapper">
    <div class="content-block" >
        <div class="content">
            <div class="user-about">
                <div class="image">
                    <%= image_tag "ジゴキシン.jfif" %>
                </div>
                <div class="name-history">
                    <div class="name">
                        ポテト
                    </div>
                    <div class="learning-history">
                        学習歴: 1年
                    </div>
                </div>
                    <div class="purpose">
                        専門分野:薬学
                        経験言語:Python Ruby
                        ITの力で医療を変えたい
                    </div>
                
            </div>
            <div class="text">
                <p>これはサンプルテキストですこれはサンプルテキストですこれはサンプルテキストです</p>
                <p>これはサンプルテキストですこれはサンプルテキストですこれはサンプルテキストです</p>
            </div>
            <div class="action-manu">
                <div class="like"></div>
                <div class="comment"></div>
            </div>
        </div>
    </div>
    
    <div class="sidebar" >
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>



